@charset "utf-8";
.container-fluid .row .col-xl-6 {
    color: #FFFFFF;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 0px;
    font-size: large;
}
.card.col-md-4.col-xl-12 .card-body .card-title {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: thin solid #3A3A3A;
    letter-spacing: 1px;
    word-spacing: 4px;
    background-color: NONE;
}
.container-fluid .row .col-xl-12 {
    background-color: #D9D9D9;
    color: #222222;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
}

.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    background-color: #929292;
    color: #272727;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

